* {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: 'Poppins', sans-serif;
    background: #FFFFFF;
}

.nav {
    background: #FFFFFF;
    height: 70px;
    box-shadow: 0px 3px 7px rgba(0, 0, 0, 0.1);
}

.airbnb {
    width: 82px;
    height: 25px;
    margin: 22px 30px;
}

.hero {
    display: flex;
    justify-content: center;
}

.hero-text {
    text-align: center;
    margin-top: 32px;
}

.hero-h1 {
    font-weight: 600;
    font-size: 36px;
    line-height: 110%;
    color: #000000;
    margin-bottom: 16px;
}

.hero-p {
    width: 320px;
    margin: 0 auto;
    font-weight: 300;
    font-size: 16px;
    line-height: 110%;
    color: #222222;
}

.image28 {
    width: 72px;
    height: 96px;
    margin-top: 75px;
    margin-right: 8px;
}

.img-3026 {
    display: flex;
    flex-direction: column;
    margin: 33px 7px 0 0;
}

.image30 {
    width: 74px;
    height: 64px;
    margin-bottom: 8px;
}

.image26 {
    width: 73px;
    height: 97px;
}

.img-2729 {
    display: flex;
    flex-direction: column;
    margin: 56px 8px 32px 0;
}

.image27 {
    width: 73px;
    height: 96px;
    margin-bottom: 9px;
}

.image29 {
    width: 73px;
    height: 96px;
}

.img-2223 {
    display: flex;
    flex-direction: column;
    margin: 26px 8px 62px 0;
}

.image22 {
    width: 73px;
    height: 96px;
    margin-bottom: 8px;
}

.image23 {
    width: 73px;
    height: 96px;
}

.img-2524 {
    display: flex;
    flex-direction: column;
    margin: 44px 0px;
}

.image25 {
    width: 73px;
    height: 96px;
    margin-bottom: 8px;
}

.image24 {
    width: 73px;
    height: 96px;
}

.card {
    margin-top: 49px;
    width: 175px;
    font-size: 12px;
    flex: 0 0 auto;
    display: flex;
    flex-direction: column;
}

.card-img {
    width: 176px;
    height: 235px;
    border-radius: 9px;
    object-fit: cover;
    margin-bottom: 9px;
}

.star-card {
    display: flex;
    align-items: center;
    justify-content: left;
}

.star {
    width: 14px;
    height: 14px;
    margin: 9px 2px 0 0;
}

.star-p {
    font-weight: 300;
    font-size: 14px;
    line-height: 110%;
    color: #222222;
    margin-bottom: 0;
}

.usa-span {
    color: #918E9B;
}

.life-lesson {
    font-size: 14px;
    color: #222222;
    margin-top: 8px;
    margin-bottom: 8px;
}

.person {
    margin-top: 0;
    margin-bottom: 30px;
    font-size: 14px;
}

.bold {
    font-weight: bold;
}

.card-component {
    display: flex;
    flex-wrap: nowrap;
    gap: 20px;
    overflow-x: auto;
    justify-content: center;
}

@media screen and (max-width: 480px) {
    .hero-h1 {
        font-size: 23px;
    }

    .hero-p {
        font-size: 15px;
    }

    .image28 {
        width: 63px;
        height: 85px;
    }

    .image30 {
        width: 63px;
        height: 64px;
    }

    .image26 {
        width: 63px;
        height: 85px;
    }

    .image27 {
        width: 63px;
        height: 85px;
    }

    .image29 {
        width: 63px;
        height: 85px;
    }

    .image22 {
        width: 63px;
        height: 85px;
    }

    .image23 {
        width: 63px;
        height: 85px;
    }

    .image25 {
        width: 63px;
        height: 85px;
    }

    .image24 {
        width: 63px;
        height: 85px;
    }

    .card-component {
        gap: 0px;
        justify-content: flex-start;
        margin: 0 15px;
    }

    .card-img {
        width: 150px;
        height: 209px;
    }
}

@media screen and (max-width: 600px) and (min-width: 481px) {
    .hero-h1 {
        font-size: 24px;
    }

    .hero-p {
        font-size: 16px;
    }

    .image28 {
        width: 65px;
        height: 87px;
    }

    .image30 {
        width: 65px;
        height: 64px;
    }

    .image26 {
        width: 65px;
        height: 87px;
    }

    .image27 {
        width: 65px;
        height: 87px;
    }

    .image29 {
        width: 65px;
        height: 87px;
    }

    .image22 {
        width: 65px;
        height: 87px;
    }

    .image23 {
        width: 65px;
        height: 87px;
    }

    .image25 {
        width: 65px;
        height: 87px;
    }

    .image24 {
        width: 65px;
        height: 87px;
    }

    .card-component {
        gap: 0px;
        justify-content: space-between;
        margin: 0 15px;
    }

    .card-img {
        width: 160px;
        height: 219px;
    }
}

@media screen and (max-width: 768px) and (min-width: 601px) {
    .hero-h1 {
        font-size: 25px;
    }

    .hero-p {
        font-size: 16px;
    }

    .image28 {
        width: 67px;
        height: 89px;
    }

    .image30 {
        width: 67px;
        height: 64px;
    }

    .image26 {
        width: 67px;
        height: 89px;
    }

    .image27 {
        width: 67px;
        height: 89px;
    }

    .image29 {
        width: 67px;
        height: 89px;
    }

    .image22 {
        width: 67px;
        height: 89px;
    }

    .image23 {
        width: 67px;
        height: 89px;
    }

    .image25 {
        width: 67px;
        height: 89px;
    }

    .image24 {
        width: 67px;
        height: 89px;
    }

    .card-component {
        gap: 0px;
        justify-content: flex-start;
        margin: 0 15px;
    }

    .card-img {
        width: 160px;
        height: 219px;
    }
}

@media screen and (max-width: 900px) and (min-width: 769px) {
    .hero-h1 {
        font-size: 26px;
    }

    .hero-p {
        font-size: 16px;
    }

    .image28 {
        width: 70px;
        height: 91px;
    }

    .image30 {
        width: 70px;
        height: 64px;
    }

    .image26 {
        width: 70px;
        height: 91px;
    }

    .image27 {
        width: 70px;
        height: 91px;
    }

    .image29 {
        width: 70px;
        height: 91px;
    }

    .image22 {
        width: 70px;
        height: 91px;
    }

    .image23 {
        width: 70px;
        height: 91px;
    }

    .image25 {
        width: 70px;
        height: 91px;
    }

    .image24 {
        width: 70px;
        height: 91px;
    }
}






















































































